.EditBar{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    width:100vw; height:50vh; overflow: scroll;
}

.EditBar_title{
    font-size: 8vw;
    margin-left: 5%;

}

.EditBar_subtitle{
    font-size: 110%;
    margin-left: 6%;
}


.EditBar_groupButtons_grid{
    display: grid;
    grid-template-columns: 25% 25% 25%;
    justify-items: center;
    margin: 5%;
}

.group_button{
    font-size: small;
    height: 100%;
    width: 100%;
}

.sampleColor{
    width: 100vw;
    height: 40vh;
}


