.EditBar{
    display: flex;
    flex-direction: column;
    background-color: aqua;
    width:100vw; height:50vh; overflow: scroll;
}

.EditBar_title{
    font-size: 8vw;

}

.EditBar_subtitle{
    font-size: 110%;
}


.EditBar_groupButtons_grid{
    display: grid;
    margin: 5%;
    grid-template-columns: 25% 25% 25%;
    justify-items: center;
}

.group_button{
    width: 100%;
    height: 100%;
    font-size: small;
}



